#LetsEncrypt settings
#staging
#ACMEServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
#prod
ACMEServer = "https://acme-v02.api.letsencrypt.org/directory"
ACMEAdminEmail = "xxxx@example.com"
#Azure DNS specific options
AZ_Cert_Key_Vault_Name = "XXXXXXX"
AZ_SA_Key_Vault_Name = "XXXXXXX"
AZ_Subscription_ID = "XXXXXXXXXX"
AZ_RG_Name = "XXXXXXXXXXXXX"
# Cluster Domain & Subdomains
Domain = "workshop.thinkport.cloud"
ClusterFile = "../clusters.txt"
SharedPrefix = "customer"

